#### Sentiment analysis on 5 star hotel reviews

Here, we're going to try to predict the rating of a product review based on the text content.

The main problem is that sentences are not numbers and the ML models only uses numbers. Therefore we need to cast them into datasets in which every sentence will have several columns filled of values.

But wait..., how many columns? What they represent? ( in other words, what are going to mean the values in each column for each sentence )?

A first approach will be to assing a binnary value to every possible word in the sentence. However, as the vocabulary in every language is huge, the amount of columns will be also huge. We need to decrease the amount of columns. Then we need to find a way to determine which words we will keep and which don't.

##### NOTE: we have already read,revised and cleane the data from raw_data_cleaning.ipynb file. please refer

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
import pprint
import re

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('tagsets')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Unzipping help/tagsets.zip.

True

In [4]:
from sklearn.model_selection import train_test_split

In [10]:
data = pd.read_csv("/content/drive/MyDrive/iron_hack/week_9/clean/cleaned_hotel_reviews.csv", error_bad_lines = False, sep = "\t")
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,hotel_name,negative_review,positive_review,tags,average_score,negative_length,positive_length
0,2,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,"[' Leisure trip ', ' Family with young childre...",8,40,19
1,3,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",8,208,24
2,5,Hotel Arena,Backyard of the hotel is total mess shouldn t...,Good restaurant with modern design great chil...,"[' Leisure trip ', ' Group ', ' Duplex Double ...",8,15,18
3,6,Hotel Arena,Cleaner did not change our sheet and duvet ev...,The room is spacious and bright The hotel is ...,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",8,31,16
4,7,Hotel Arena,Apart from the price for the brekfast Everyth...,Good location Set in a lovely park friendly s...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",8,10,17